/* Scrollbar styles  */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::-webkit-scrollbar-thumb:active {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.header-container {
  position: relative;
  max-width: 1440px;
  height: 337px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.image-container {
  flex-grow: 1;
  padding-left: 60px;
}
.menu-container {
  flex-grow: 2;
}

.header-image {
  width: 160px;
  height: 160px;
}

/* list style */

.details-container {
  width: 350px;
  align-self: self-start;
  height: auto !important;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.selected-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details-header {
  width: 100%;
  /* height: 54px; */
  padding: 15px 10px;
  background-color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
}

.select-item-image {
  width: 100%;
  height: 365px;
  border-radius: 5px;
  padding: 5px;
}
.selected-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.item-name {
  margin-right: 5px;
  color: #737373;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.selected-item-name {
  margin-right: 5px;
  color: #555555;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.item-line {
  flex-grow: 1;
  height: 2px;
  background-color: black;
  min-width: 15px !important;
}

.item-price {
  text-align: center;
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.selected-item-price {
  text-align: center;
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

/*  menu styles */

.testing {
  max-width: 1440px;
  margin: auto;
  margin-top: 30px;
}

.testing > div {
  gap: 25px;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.testing > div > div {
  flex: none !important;
}

.testing > div > div > div {
  padding-top: 0px !important;
}

.menu {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.257143px;
  font-variant: small-caps;
  color: #ffffff;
}

/*  delivery-component style */
.delivery-component-container {
  max-width: 1440px;
  margin: auto;
  height: 201px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-component-header {
  background-color: #000000;
  width: 330px;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.delivery-component-section {
  background: #fcfcfc;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 8%;
}

.delivery-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  margin-left: 15px;
}

.delivery-info-icon img {
  margin-bottom: 5px;
}

.delivery-info-whatapp {
  margin-left: 15px;
}

.whatsapp-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: solid 0.1px #cfcfcf;
  padding-left: 15px;
}

.whatsapp-logo {
  width: 159px;
}

.whatsapp-logo img {
  width: 100%;
}
/*  machine info component style */
.machine-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  height: 330px;
  margin-left: 5%;
  margin-right: 5%;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details p {
  margin-bottom: 10px;
}
.user-details b {
  margin-bottom: 3px;
}

.machine-container {
  width: 350px;
  height: 350px;
}

.machine-container img {
  width: 100%;
}

.label-container {
  width: 308px;
  margin: 0px 20px;
}

.label-container img {
  width: 100%;
}

.label-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.label-container-text b {
  margin-top: 5px;
}

.selection-container {
  width: 500px;
  border-left: solid 0.1px #cfcfcf;
  padding-left: 20px;
}

.cricle {
  background-color: #3f3f3f;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 13px;
}

.selection-container ul li {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.price-box {
  background-color: #000000;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

/*  food details  */
.Details-component-container {
  height: 398px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin: auto;
}
.food-image-container {
  width: 45%;
  height: 100%;
}
.food-image {
  width: 100%;
  height: 100%;
}

.food-details-container {
  background-color: #000000;
  height: 100%;
  color: white;
  width: 55%;
  padding: 50px 70px 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.food-details-container h2 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.food-details-container p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #f0f0f0;
}

/*  footer style */
.footer-container {
  max-width: 1440px;
  margin: auto;
  height: 191px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.small-footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.footer-details-container {
  text-align: center;
}

.footer-details-container p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.257143px;
  color: #ffffff;
}

.footer-image {
  width: 86px;
  height: 86px;
}

.footer-rightside-image {
  width: 136px;
  height: 50px;
}

/*  pop style  */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-inner {
  background-color: #ffffff;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 450px;
  height: 550px;
  overflow-y: auto;
  position: relative;
}

.food-description {
  padding: 5px;
  width: 100%;
}

.data-notfound {
  width: 100%;
  font-weight: 700px;
  margin: auto;
  padding: 20px 0px;
  font-size: 30px !important;
  height: 300px;
  text-align: center;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: #eeeeee solid 0.5px;
  background-color: #eeeeee;
  padding: 10px;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
}

.popup-close {
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
}

.popup-content {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .popup-inner {
    max-width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .popup-inner {
    max-width: 70%;
  }
}

@media (min-width: 1025px) {
  .popup-inner {
    max-width: 50%;
  }
}

@media only screen and (max-width: 1260px) {
  .details-container {
    width: 320px;
  }
}

@media only screen and (max-width: 860px) {
  .header-image {
    width: 120px;
    height: 120px;
  }

  .image-container {
    padding-left: 0px;
  }

  .Details-component-container {
    flex-direction: column;
    height: auto;
  }
  .food-image-container {
    width: 100%;
  }
  .food-details-container {
    width: 100%;
    padding: 50px 30px 50px 20px;
  }

  .small-footer p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.257143px;
    font-variant: small-caps;
    color: #000000;
  }

  .machine-info-container {
    flex-direction: column;
    height: auto;
    gap: 40px;
    margin-bottom: 30px;
  }

  .label-container {
    margin-top: -40px;
  }

  .footer-container {
    flex-direction: column;
    height: auto;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .machine-container img {
    width: 100%;
  }

  .machine-container {
    width: 50%;
    margin: auto;
    height: auto;
  }

  .selection-container {
    width: 90%;
    border-left: none;
    padding-left: 0px;
    margin: auto;
  }

  .delivery-component-container {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }

  .delivery-component-section {
    flex-direction: column;
    gap: 50px;
  }

  .delivery-info {
    width: 90%;
    margin: auto;
  }

  .delivery-component-header {
    width: 90%;
    margin: auto;
    height: 200px;
  }

  .delivery-component-header {
    justify-content: center;
    padding-left: 0px;
  }

  .whatsapp-section {
    border-left: none;
    width: 90%;
    margin: auto;
  }

  .details-container {
    width: 320px;
  }
}

@media only screen and (max-width: 560px) {
  .machine-container img {
    width: 100%;
  }

  .machine-container {
    width: 90%;
    margin: auto;
    height: auto;
  }
}

.menu-description {
  position: absolute;
  width: 100%;
  color: #e2e0e0;
}

@media only screen and (max-width: 650px) {
  .menu-description {
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding-top: 100px;
  }
}
